

<div class="row mt-5">

  <div class="col-md-4 mb-3">

    <div class="card">

      <div class="card-header">
        <h5>TP Webservices : Baptiste Marmier</h5>
      </div>

      <div class="card-body">

        <h6>Partie 1 : concevoir et documenter une API</h6>
        <p class="card-text">
          Vous pourrez accèder à la documentation à l'adresse suivante
          http://localhost:3000/documentation/
        </p>

        <h6>Partie 2 : développer l'API</h6>
        <p class="card-text">
          Le code source est accessible dans le dossier server pour l'API et le dossier client pour le Front End.
        </p>



      </div>

    </div>

  </div>

