<div class="row mt-5">

    <div class="col-md-4 mb-3">

      <div class="card">

        <div class="card-header">
          <h5>Bonjour {{userName}}</h5>
        </div>

        <div class="card-body">

          <p class="card-text">
            Votre Banque est {{userBank}}, merci de votre confiance Monsieur {{userSurname}} !
          </p>


          <h6>Vos information personnelles :</h6>
          <p class="card-text">
            Prénom : {{userName}}
          </p>
          <p class="card-text">
            Nom : {{userSurname}}
          </p>
          <p class="card-text">
            Banque : {{userBank}}
          </p>

          <h6>Votre solde :</h6>
          <h1>{{userAccount}}€</h1>

        </div>

      </div>

    </div>

</div>

